
<% if user_signed_in? %>

<% if current_user.admin? %>
<h1>Listing projects</h1>

<table id="projects">
<thead>
  <tr>
    <th>Name</th>
    <th>Start date</th>
    <th>End date</th>
    <th>User name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @project.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.start_date %></td>
    <td><%= project.end_date %></td>
    <td><%= project.users.map(&:fname).join(', ') %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
<% else %>
<h1> Projects </h1>

<table id="projects">
<thead>
  <tr>
    <th>Name</th>
    <th>Start date</th>
    <th>End date</th>
    </tr>
    </thead>
    <tbody>
<% @projects_user.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.start_date %></td>
    <td><%= project.end_date %></td>
    </tr>
    <% end %>
    </tbody>

<% end %>

<% else %>

<%= link_to "Sign up", new_user_registration_path, :method => :get,class: "button" %>

<% end %> 
</table>